# --- Docker Container ------
SA_PASSWORD=
DATABASE_NAME=
SITE_PORT=8080

# ---- EPiServer / Optimizely ----
EPiServer_Cms_MappedRoles_Items_CmsEditors_MappedRoles_0=WebEditors
EPiServer_Cms_MappedRoles_Items_CmsEditors_MappedRoles_1=WebAdmins
EPiServer_Cms_MappedRoles_Items_CmsAdmins_MappedRoles_0=WebAdmins

# MediaImport paths
EPiServer_MediaImport_ToImportFolder=App_Data/ToImport
EPiServer_MediaImport_ImportedFolder=App_Data/Imported
EPiServer_MediaImport_ImportAssetsFolder=44

# Custom block folder
EPiServer_CustomBlockFolder=Imported through Job

# Find service settings
EPiServer_Find_DefaultIndex=
EPiServer_Find_ServiceUrl=

