{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "EPiServer": "Information",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "ConnectionStrings": {
    "EPiServerDB": "Data Source=(LocalDb)\\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\\DemoTraining.mdf;Initial Catalog=DemoTraining;Integrated Security=True;Connect Timeout=30"
  },
  "EPiServer": {
    "Cms": {
      "MappedRoles": {
        "Items": {
          "CmsEditors": {
            "MappedRoles": [ "WebEditors", "WebAdmins" ]
          },
          "CmsAdmins": {
            "MappedRoles": [ "WebAdmins" ]
          }
        }
      }
    },
    "MediaImport": {
      "ToImportFolder": "C:\\Optimizely\\ToImport",
      "ImportedFolder": "C:\\Optimizely\\Imported",
      "ImportAssetsFolder": "44"
    },
    "CustomBlockFolder": "Imported through Job",
    "Find": {
      "DefaultIndex": "your_index_name",
      "ServiceUrl": "your_service_url"
    },
    "ContentGraph": {
      "GatewayAddress": "https://cg.optimizely.com",
      "AppKey": "Sent to you when the account was created and is the public key from your HMAC authentication pair",
      "Secret": "Sent to you when the account was created and is the secret key from your HMAC authentication pair",
      "SingleKey": "Sent to you when the account was created and is the public key you can use on the public site",
      "AllowSendingLog": "true"
    }
  }
}
