{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "EPiServer": "Information",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "ConnectionStrings": {
    "EPiServerDB": "Data Source=(LocalDb)\\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\\DemoTraining.mdf;Initial Catalog=DemoTraining;Integrated Security=True;Connect Timeout=30"
  },
  "EPiServer": {
    "Cms": {
      "MappedRoles": {
        "Items": {
          "CmsEditors": {
            "MappedRoles": [ "WebEditors", "WebAdmins" ]
          },
          "CmsAdmins": {
            "MappedRoles": [ "WebAdmins" ]
          }
        }
      }
    },
    "MediaImport": {
      "ToImportFolder": "App_Data/ToImport",
      "ImportedFolder": "App_Data/Imported",
      "ImportAssetsFolder": "44"
    },
    "CustomBlockFolder": "Imported through Job",
    "Graph": {
      "Enabled": true,
      "Gateway": "https://cg.optimizely.com/graphql",
      "AppKey": "YOUR_GRAPH_APP_KEY",
      "Secret": "YOUR_GRAPH_SECRET",
      "Timeout": 30000,
      "RetryPolicy": "exponential",
      "MaxRetries": 3
    }
  }
}
